virtualenv

black
pre-commit

django
python-dotenv
psycopg2

celery[redis]
redis
kombu
django-celery-beat
django-celery-results

djangorestframework
markdown
django-filter 
PyYAML
uritemplate
Pygments
django-guardian

requests
lxml
selenium
scrapy
beautifulsoup4

jupyterlab
matplotlib
pandas
palettable

asyncio
aiohttp
aiofiles

nltk